name: Code Inspector
on:
  push:
    branches:
      - main
      - dev
      - 'next/**'
      - 'release/**'
    paths-ignore:
      - '.github/workflows/**'
      - '**/*.md'

  pull_request:
    branches:
      - main
      - dev
      - 'next/**'
      - 'release/**'
    paths-ignore:
      - '.github/workflows/**'
      - '**/*.md'

permissions:
  contents: write

jobs:
  CI:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'
      - name: Install deps
        run: pnpm install
      - name: Build
        run: pnpm build
